{% extends "layout.html" %}
{% block title %}首页{% endblock %}
{% block content %}
	<div class="col-lg-6">
      <h4>解析树分解</h4>
      <p>join 处理、where 处理、计算区分度、添加备选索引、group 与 order 处理。</p>

      <h4>驱动表选择</h4>
      <p>经过前期的where解析、join解析，已经将SQL中表关联关系存储起来，并且按照一定逻辑将侯选驱动表确定下来。</p>
    </div>

    <div class="col-lg-6">
      <h4>添加被驱动表备选索引</h4>
      <p>通过上述过程，已经选择了驱动表，也通过解析保存了语句中的条件。</p>

      <h4>输出建议</h4>
      <p>通过上述步骤，已经将每张表的备选索引键全部保存。此时，只要判断每张表中的候选索引键是否在实际表中已存在。没有索引，则给出建议增加对应的索引。</p>
    </div>
{% endblock %}
